$gradient-dark: #373B44;
$gradient-light: #61B1A9;
$gradient-text: #FFF;
$gradient-anchor: #C6C1AE;

$header-height: 100px;
$footer-height: 80px;

$header-color: #3D7F7A;
$anchor-color: #7B7656;

$background-color: #FFF;

$layout-spacing: 4vw;
$layout-spacing-small: 2vw;
$spacing: 20px;

$font-sans-serif: 'Montserrat';
$font-serif: 'Merriweather';